<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatArras</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>ChatArras</h1>

  <div>
    <p>Usuarios conectados: <span id="usuarios">0</span></p>
  </div>

  <div>
    <label for="box">Escribe algo:</label>
    <input id="box" name="box" type="text" autocomplete="off" />
  </div>

  <div id="app-chat"></div>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
