<h1>ChatArras</h1>

<div>
  <p>Usuarios conectados: <span id="usuarios">0</span></p>
</div>

<div>
  <label for="box">Escribe algo:</label>
  <input id="box" name="box" type="text" autocomplete="off" />
</div>

<div id="app-chat"></div>
